/**************************
GENERAL
**************************/
.wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 5%;
}
img {
	max-width: 20%;
	margin-bottom: 1em;
}
.submit {
	background-color: rgba(159, 155, 162, 0.1);;
	border-radius: 12px;
	color: #3d3d3d;
}
/**************************
HEADING
**************************/
header{
	margin-top: -22px;
    padding:0;
}
.title{
    height: 100%;
    padding-top: 22px;
}

.title h1{
	text-align: center;
}

/**************************
NAVIGATION
**************************/
nav{
  	border-top: 1px solid black; 
  	margin-left: 0 0 1em 1em;
  	border-bottom: 1px solid black; 
  	display: inline-block;
    width: 100%;
    padding-bottom: 1em;
    background-color: #FFF;
}

nav ul{
	list-style: none;
}
nav li {
  display: inline;
  margin: 1em;
  padding: 0.5em;

  /**/
}
nav a{
	color: #2b2b2b;
	text-decoration: none;
}
.left{
	float: left;
}

.right{
	float: right;
}
/**************************
FOOTER
**************************/
.footer li{
	list-style: none;
}
.footer a{	color: #2b2b2b;
	text-decoration: none;
}

body{
	background-color: rgba(159, 155, 162, 0.1);
}
/**************************
FOOTER
**************************/
.footer li{
	display: inline;
  	margin: 1em;
  	padding: 0.5em;
}

.content{
	clear: both;
}

.copy{
	color: #BBB;
}

/**************************
Item Display
**************************/
.item_pages li{
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #F5F5F5;
}
.item_image {
	float: left;
	clear: bottom;

}
.item_container{
	
}
.item_pages{
	background-color: #FFF;
}
.item_description_container{
	padding: 1.4em;
}

/**************************
PAGE: Home
**************************/
.item_pages{
	text-align: center;
	margin: 1em;
  	padding: 0.5em;
  	border: 1px solid black; 
	list-style: none;
}

/**************************
PAGE: Cart
**************************/
.cart_img{
	max-width: 10%;
	float: left;
}
.cart {
 	border-collapse: separate;
 	border-color: grey;
}  
#article{
	width: 35em;
}
#amount{
	width: 10em;
}
#price{
	width: 10em;
}
.cart_item{
	height: 5em;
	padding: 3em;
}
table thead {
    background: #eaeaea;
    color: #626262;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody {
   	/*font-family: Arial,Helvetica,sans-serif;*/
    color: #626262;
    font-size: 0.8em;
    background: #fff;
    position: relative;
} 
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

/**************************
COLOR
**************************/

a.selected, nav a:hover{
	color: #CC3300;
}